@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

h2,
h3,
h4 {
  font-weight: 400;
}

path,
i,
svg {
  pointer-events: none;
}

button {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.colors {
  height: 80vh;
  display: flex;
  flex-direction: row;
  color: black;
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color-controls {
  display: flex;
  flex-direction: column;
}

.color-controls button {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  margin: 1.5rem;
}

.color-controls button {
  color: black;
}

.color h2 {
  font-size: 1.5rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background-color: white;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;

  opacity: 0;
  transform: translateY(150px);
  pointer-events: none;
  transition: all 0.6s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: none;
  background-color: navy;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.panels {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.panels button {
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: #1c3f80;
  color: white;
  border-radius: 5px;
}

.panels p {
  margin: 0.5rem;
  font-size: 1rem;
  color: black;
}

.copy-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.copy-popup {
  background: white;
  border-radius: 5px;
  padding: 2rem 2rem;
  display: flex;

  transition: transform 0.5s ease;
  transform: translateY(-2rem);
}

.copy-popup h3 {
  margin: 0 0.3rem;
}

.copy-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active {
  transform: translateY(0rem);
}

.save-container,
.library-container {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.save-popup,
.library-popup {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  padding: 2rem;
  border-radius: 4px;

  transition: transform 0.5s ease;
  transform: translateY(-2rem);
}

.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
}

.save-popup .close-save,
.library-popup .close-library {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  padding: 0.3rem;
  font-weight: bold;

  border: none;
  background-color: navy;
  color: white;
}

.save-popup input {
  margin-top: 1rem;
  width: 100%;
  padding: 0.3rem;
  font-family: "Raleway", sans-serif;
}

.save-popup .submit-save {
  min-width: 30%;
  padding: 0.5rem 0.4rem;
  margin-top: 1rem;

  border-radius: 5px;

  border: none;
  background-color: navy;
  color: white;
}

.library-popup {
  min-width: 40%;
  padding: 2rem;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
}

.library-popup h3 {
  margin-bottom: 1rem;
}

.custom-palette {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
}

.custom-palette h4 {
  flex: 1;
}
.small-preview {
  display: flex;
}

.small-preview div {
  height: 2rem;
  min-width: 2rem;
}

.custom-palette button {
  padding: 0.5rem 0.4rem;

  border: none;
  background-color: navy;
  color: white;
}

@media (max-width: 660px) {
  .color h2
  {font-size:  1rem;}
  
    .library-panel p,
  .generate-panel p,
  .save-panel p{
    font-size:  0.8rem;}
  }
}